li {
    list-style: none;
}
nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #ccc;
    padding: 0 40vw;
    margin-top: 100px;
    // position: relative;
    // top:150px;

    ul {
        display: flex;
    }
    .logo {
        width: 100px;
        height: 100px;
        background-color: #f00;
        display: block;
        position: absolute;
        margin: auto;
        left: 50%;
        transform: translateX(-50%);
    }
}

header {
    width: 85%;
    margin: auto;
    img {
        width: 100%;
    }
}
